*{
  margin: 0px;
  padding: 0px;
}
#nav{
  width: 20%;
  background-color: #191818;
  position: fixed;
  overflow-y: hidden;
  float: left;
  height: 1500px;
}
#nav > img{
  width: 60%;
  border-radius: 150px;
  margin: 10% 20%;
}
#nav > p{
  color: #fff;
  font-family: sans-serif;
  font-size: 15px;
  width: 90%;
  padding: 0 5%;
  text-align: center;
}
#nav > ul{
  width: 90%;
  padding: 5%;
  margin-top: 30px;
  text-align: center;

}
#nav > ul > li{
  color: #fff;
  font-family: Times;
  font-size: 18px;
  padding: 10px 4%;
  margin: 0 1%;
  list-style-type: none;
  cursor: pointer;
  border-top: 1px solid #323131;
}
#nav > ul > li:hover{
  background-color: #0487CC;
}
#nav > ul > li:active{
  background-color: #0487CC;
}
#social{
  width: 50%;
  margin: 25px 25%;
}
#social img{
  width: 50px;
  padding: 5px;
}
#img{
  width: 40%;
  position: fixed;
  margin-left: 20%;
  float: left;
  background-image: url("../images/mypic.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
#img > img{
  width: 100%;
  height: 680px;
}

#desc{
  width: 40%;
  background-color: #fafafa;
  margin-left: 60%;
  float: left;
  height: 100%;
  overflow-y: auto;
}
.des{
  width: 100%;
  display: none;
  background-color: #F3F0F0;
}
.inner-text{
  padding: 50px;
  font-size: 20px;
  font-family: sans-serif;
}
.inner-text small{
  display: block;
    color: #666;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 35px;
    text-transform: capitalize;
    font-family: "Open Sans", Arial, sans-serif;
}
.inner-text  p{
    margin-bottom: 25px;
    font-family: "Lato", "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
}
.inner-text h2{
  text-transform: capitalize;
  font-size: 40px;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-family: Montserrat, "Open Sans", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #0078D7;
}
